<% layout('layout') %>
<!doctype html>
<html>
<body>
    <?- include('../partials/header') -?>
    <h1>Register</h1>
    <form action="/register" method="post">
        <div class="">
            <img src="images/register.jpeg" alt="Avatar" class="" width="100" height="100">
        </div>
        <div class="">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="user" required>
            <label for="psw"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pass" required>
            <label for="psw"><b>Re-Password</b></label>
            <input type="password" placeholder="Enter Re-Password" name="repass" required>
            <hr>
            <button type="submit" class="btn btn-success">Register</button>
            <a href="/" class="btn btn-primary btn-lg active">Back</a>
        </div>
    </form>

</body>

</html>